.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{display: flex;
    align-items: center;
}

/**********************************RESET CSS***************************************************
html, body, div, span, h1, h2, h3, h4, h5, p, a, img, i, ol, ul, li, form, caption, footer,
header, section{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
**********************************RESET CSS***************************************************/

body{font-family: 'Roboto', sans-serif; margin: 0;}
a:visited{color: black}
h2{padding: 30px 0 0 20px; font-weight: 500;}
h3{margin: 0;}
p{margin: 5px 0 0 0;}
footer{background-color: #353535; color: white; height: 170px;}
i{margin: 0 20px 0 20px;}
img{width: 100%; height: 275px; object-fit: cover;}

.police_title{font-family: 'Shrikhand', cursive;}
.title_menu{padding-left: 20px; font-weight: 400;}
.menu{display: flex; justify-content: space-between; align-items: center; width: 90%; height: 70px; 
    background-color: white; border-radius: 20px; margin: 18.75px 0px 0px 18.75px; 
    box-shadow: 5px 5px 10px 0 lightgrey; cursor: pointer;}
.menu_info{display: flex; justify-content: space-between; width: 100%;}
.menu_text{padding-left: 15px;}
.tarif{margin-top: 30px; padding-right: 20px; font-weight: bold;}
.no_margin{margin: 0;}
.return{margin-left: -80px; }
.background_color_white_grey{height: 1150px; background-color: #f6f6f6; border-radius: 40px 40px 0 0; 
    position: relative; margin-top: -75px;}
.commander{border-radius: 26px;  background: linear-gradient(to bottom, #E972DA 0%, #D06ADB 50%, 
    #A45BDC 100%); height: 50px; width: 50%; display: flex; align-items: center; justify-content: center;
    margin: 40px 0 0 25%; box-shadow: 5px 5px 10px 0 lightgrey;}
.text{color: white;}
.pad_footer{padding: 20px 0px 0px 20px;}
.pad_h4{padding-bottom: 20px; font-weight: 400;}
.ustensils{display: flex; margin-left: 0;}
.hands{display: flex; width: 13px; margin-left: 0;}
.pad_bot{padding-bottom: 3px;}
#line{background-color: #99E2D0; width: 40px; height: 3.5px; border: none; margin-left: 20px;
    margin-top: -15px;}
.menu .check{background: #99e2d0; height: auto; width: 0; opacity: 0; border-radius: 0 15px 15px 0; display: flex;
    align-items: center; justify-content: center; transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, 
    opacity 0.4s ease-in-out;}
.menu .check .check_icon{color: white; transform: rotate(360deg); transition: 0.4s ease-in-out;}
.menu:hover .check{opacity: 100%; width: 50px; height: 100%;}
.menu:hover .check_icon{transform: rotate(0deg)}