/*Couleurs*/
/****************************/
/****************************/
/****************************/
/*Flex*/
.flex_center {
  display: flex;
  justify-content: center; }

.flex_column {
  display: flex;
  flex-direction: column; }

.flex_between {
  display: flex;
  justify-content: space-between; }

.flex_wrap {
  display: flex;
  flex-wrap: wrap; }

.flex {
  display: flex; }

/*Chargement*/
.loader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #e2fff8c4;
  animation: slideInFromLeft 2s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 2; }
  .loader_lettreP {
    color: #3a2256;
    margin-bottom: 50px;
    animation: flashP 1.4s linear infinite;
    font-size: 2em; }
  .loader_lettreP:nth-child(1) {
    animation-delay: 0.1s; }
  .loader_lettreP:nth-child(4) {
    animation-delay: 0.28s; }
  .loader_lettreP:nth-child(7) {
    animation-delay: 0.46s; }
  .loader_lettreP:nth-child(10) {
    animation-delay: 0.64s; }
  .loader_lettreS {
    color: #833e70;
    margin-bottom: 90px;
    animation: flashS 1.4s linear infinite;
    font-size: 2em; }
  .loader_lettreS:nth-child(2) {
    animation-delay: 0.16s; }
  .loader_lettreS:nth-child(5) {
    animation-delay: 0.34s; }
  .loader_lettreS:nth-child(8) {
    animation-delay: 0.52s; }
  .loader_lettreT {
    color: #496c64;
    margin-bottom: 70px;
    animation: flashT 1.4s linear infinite;
    font-size: 2em; }
  .loader_lettreT:nth-child(3) {
    animation-delay: 0.22s; }
  .loader_lettreT:nth-child(6) {
    animation-delay: 0.40s; }
  .loader_lettreT:nth-child(9) {
    animation-delay: 0.58s; }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(0%);
    opacity: 1; }
  100% {
    transform: translateX(-100%);
    opacity: 0; } }

@keyframes flashP {
  0% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC; }
  90% {
    color: #3a2256;
    text-shadow: none; }
  100% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC; } }

@keyframes flashS {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA; }
  90% {
    color: #833e70;
    text-shadow: none; }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA; } }

@keyframes flashT {
  0% {
    color: #99E2D0;
    text-shadow: 0 0 7px #99E2D0; }
  90% {
    color: #496c64;
    text-shadow: none; }
  100% {
    color: #99E2D0;
    text-shadow: 0 0 7px #99E2D0; } }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0; }

h1, h4, .loader_lettreP, .loader_lettreS, .loader_lettreT {
  font-family: 'Shrikhand', cursive; }

h1 {
  font-size: 2em;
  font-weight: bold; }

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 15px 0 20px 20px; }

h3 {
  font-size: 1.17em;
  font-weight: bold; }

h4 {
  font-weight: bold; }

a:visited {
  color: black; }

a:link {
  text-decoration: none; }

a {
  color: black; }

/*Header*/
header {
  width: 100%; }

.shadow_bottom {
  box-shadow: 0 0 0.5rem #0000003f;
  position: relative; }

.title {
  font-size: 2em;
  padding: 15px 0 15px 0; }

/*Recherche*/
input {
  padding-left: 15px; }

.search {
  background-color: #eaeaea;
  padding: 18px;
  font-size: 15px; }
  .search_bar {
    background-color: transparent;
    border: none;
    font-size: 15px;
    width: 40%;
    text-align: center; }

#loca {
  margin: 0; }

/*Acceuil*/
.text_align {
  text-align: center; }

.acceuil {
  background-color: #f6f6f6; }
  .acceuil_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 215px;
    border: 0 solid;
    border-radius: 26px;
    background: linear-gradient(to bottom, #E972DA 0%, #D06ADB 50%, #A45BDC 100%);
    margin: 10px auto;
    box-shadow: 5px 5px 10px 0 lightgrey;
    color: white;
    transform: scale(1);
    transition: transform 400ms;
    cursor: pointer; }
    .acceuil_btn:hover {
      transform: scale(1.15); }
  .acceuil_color_text {
    color: white; }

.acceuil_h2 {
  margin: 0;
  padding: 15px 10px 15px 10px;
  text-align: center; }
  .acceuil_h2_bot {
    padding-bottom: 8px; }

/*Fontcionnement*/
ol {
  padding: 0; }

.i_color_gris {
  color: grey; }

.btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 15px;
  width: 90%;
  height: 60px;
  margin-bottom: 20px;
  margin-left: 20px;
  cursor: pointer;
  box-shadow: 5px 5px 10px 0 lightgrey; }
  .btn:hover {
    background-color: #f5edff; }
  .btn:hover .i_color_gris {
    color: #9356DC; }
  .btn_i_size {
    font-size: 20px; }

li > p {
  background-color: #9356DC;
  border-radius: 15px;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px; }

/*Restaurant*/
img {
  width: 100%;
  height: 185px;
  object-fit: cover;
  border-radius: 21px 21px 0 0; }

.restaurant {
  background-color: #f6f6f6; }
  .restaurant_case {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 20px;
    margin: 14px;
    box-shadow: 5px 5px 10px 0 lightgrey;
    cursor: pointer; }
    .restaurant_case_info {
      display: flex; }
      .restaurant_case_info_text {
        margin: 10px 0px 10px 15px;
        width: 100%; }
        .restaurant_case_info_text_heart_1 {
          margin-right: -51.3px;
          opacity: 100%; }
        .restaurant_case_info_text_heart_1:hover {
          opacity: 0%;
          transition: opacity 0.3s ease-in-out; }
        .restaurant_case_info_text_heart_2 {
          opacity: 0%; }
        .restaurant_case_info_text_heart_2:hover {
          opacity: 100%;
          background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: opacity 0.3s ease-in-out; }
  .restaurant_new {
    position: absolute;
    background-color: #99E2D0;
    color: green;
    border-radius: 3px;
    font-weight: bold;
    padding: 5px;
    right: 10%;
    margin-top: 16px; }

.restaurant_h2 {
  padding: 20px 0px 50px 0px; }

.restaurant_case_info_heart {
  margin-top: 15px;
  font-size: 25px; }

i {
  margin: 0 20px 0 20px; }

/*Footer*/
.footer {
  background-color: #353535;
  color: white;
  height: 170px;
  padding: 20px 0px 0px 20px; }
  .footer_h4 {
    padding-bottom: 17px;
    font-weight: 400; }
  .footer_space {
    padding-bottom: 16px; }
    .footer_space_ustensils {
      display: flex;
      margin-left: 0; }
    .footer_space_hands {
      display: flex;
      width: 13px;
      margin-left: 0; }
    .footer_space_mail {
      color: white; }

@media screen and (max-width: 809px) and (min-width: 415px) {
  .loader {
    display: flex;
    justify-content: space-evenly; }
  .loader_lettreP, .loader_lettreS, .loader_lettreT {
    font-size: 3em;
    letter-spacing: 5px; }
  .search {
    font-size: 20px; }
    .search_bar {
      width: 35%;
      font-size: 17.5px; }
  .acceuil_h2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #flex {
    display: flex;
    justify-content: center; }
  .btn {
    width: 90%;
    margin-right: 30px; }
  .restaurant_case {
    width: 100%;
    margin: 20px; }
  .restaurant_new {
    right: 7%; }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 2480px) and (min-width: 810px) {
  .loader {
    display: flex;
    justify-content: center; }
  .loader_lettreP, .loader_lettreS, .loader_lettreT {
    font-size: 4em;
    letter-spacing: 20px; }
  .search {
    font-size: 20px; }
    .search_bar {
      width: 17%;
      font-size: 20px; }
  .acceuil_h2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #flex {
    display: flex;
    justify-content: center;
    flex-wrap: unset; }
  .btn {
    margin-right: 30px;
    cursor: pointer; }
  .restaurant_case {
    width: 46%; }
  .restaurant_new {
    right: 55%; }
  #new {
    right: 2.5%; }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center; } }
